<div class="scheduler">
  <div class="view-buttons">
    <button (click)="switchView('day')">Day</button>
    <button (click)="switchView('week')">Week</button>
    <button (click)="switchView('month')">Month</button>
  </div>

  <!-- Month/Year Selector -->
  <div class="month-year-selector" *ngIf="currentView === 'month'">
    <select [(ngModel)]="selectedMonth">
      <option *ngFor="let month of months; let i = index" [value]="i">{{ month }}</option>
    </select>
    <input type="number" [(ngModel)]="selectedYear" placeholder="Year">
    <button (click)="changeMonth()">Go</button>
  </div>

  <div class="current-date">{{ currentDate }}</div>

  <div class="calendar">


    <!-- Month View -->
    <div *ngIf="currentView === 'month'" class="month-view">
      <table class="month-table">
        <thead>
          <tr>
            <th *ngFor="let day of weekDays" class="month-day-header">{{ day }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let week of weeks">
            <td *ngFor="let day of week" class="month-day" (click)="onDateClick(day)">
              {{ formatDay(day) }}
              <!-- Add month view content here -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <!-- Week View -->
    <div *ngIf="currentView === 'week'" class="week-view-container" #weekViewContainer>
      <table class="week-table">
        <thead>
          <tr>
            <th class="day-header"></th> <!-- Header for time slot column -->
            <th *ngFor="let day of weekDays" class="week-day">{{ day }}</th>
          </tr>
        </thead>
        <tbody>
          <!-- Add time slots and schedule content for Week View here -->
          <tr *ngFor="let timeSlot of timeSlots">
            <td>{{timeSlot}} {{isCurrentTimeSlot(timeSlot)}}</td> <!-- Empty cell for time slot column -->
            <td *ngFor="let day of weekDays" class="week-day">
              <!-- Add content for the day -->
            </td>
          </tr>
          <!-- Current time slot line -->
          <tr>
            <td class="current-time-slot-line" ></td> <!-- Colspan to span all days -->
          </tr>
        </tbody>
      </table>
    </div>


    <!-- Day View -->
    <div *ngIf="currentView === 'day'" class="day-view-container">
      <div class="day">
        {{ formatDay(schedule[0]) }}
        <!-- Add day view content here -->
      </div>
    </div>
  </div>
</div>
<div>{{currentTime}}</div>
