<div class="scheduler">
  <div class="view-buttons">
    <button (click)="switchView('day')">Day</button>
    <button (click)="switchView('week')">Week</button>
    <button (click)="switchView('month')">Month</button>
  </div>

  <!-- Month/Year Selector -->
  <div class="month-year-selector" *ngIf="currentView === 'month'">
    <select [(ngModel)]="selectedMonth">
      <option *ngFor="let month of months; let i = index" [value]="i">{{ month }}</option>
    </select>
    <input type="number" [(ngModel)]="selectedYear" placeholder="Year">
    <button (click)="changeMonth()">Go</button>
  </div>

  <div class="current-date">{{ currentDate }}</div>

  <div class="calendar">
    <div *ngIf="currentView === 'month'" class="day-header">
      <!-- Display weekdays for Month View -->
      <div *ngFor="let day of weekDays">
        <div *ngIf="currentView === 'month'" >
          {{ day }}
        </div>
      </div>
    </div>

    <!-- Month View -->
    <div *ngIf="currentView === 'month'" class="month-view">
      <div class="month-grid">
        <div *ngFor="let week of weeks" class="week">
          <button *ngFor="let day of week" class="day" (click)="onDateClick(day)">
            {{ formatDay(day) }}
            <!-- Add month view content here -->
          </button>
        </div>
      </div>
    </div>

    <!-- Week View -->
    <div *ngIf="currentView === 'week'" class="week-view-container">
      <table class="week-table">
        <thead >
          <tr >
            <th ></th> <!-- Header for time slot column -->
            <th *ngFor="let day of weekDays" >{{ day }}</th>
          </tr>
        </thead>
        <tbody>
          <!-- Add time slots and schedule content for Week View here -->
          <tr *ngFor="let timeSlot of timeSlots">
            <td [ngClass]="{'current-time-slot': isCurrentTimeSlot(timeSlot)}">
              {{ timeSlot }} {{isCurrentTimeSlot(timeSlot)}}
            </td>
            <td *ngFor="let day of weekDays" class="week-day">
              <!-- Add content for the day -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Day View -->
    <div *ngIf="currentView === 'day'" class="day-view-container">
      <div class="day">
        {{ formatDay(schedule[0]) }}
        <!-- Add day view content here -->
      </div>
    </div>
  </div>
</div>
<div>{{currentTime}}</div>
