/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Scheduler Container */
.scheduler {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 900px;
}

/* View Buttons */
.view-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.view-buttons button {
  padding: 10px 20px;
  font-size: 14px;
  margin: 0 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-buttons button:hover {
  background-color: #0056b3;
}

/* Current Date Display */
.current-date {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Calendar Container */
.calendar {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  min-width: 800px;
  height: 570px;
  /* Adjust the desired height */
  overflow: auto;
  /* Add a scrollbar when necessary */
}


/* Month View */
.month-view {
  width: 100%;
  overflow-x: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
}

.month-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  /* Fix the table layout to make columns equal width */
}

.month-table th,
.month-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  width: calc(100% / 7);
  /* Divide the table into 7 equal-width columns */
}

.month-day-header {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.month-day {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  min-height: 100px;
  cursor: pointer;
}

.month-day:hover {
  background-color: #ddd;
}

/* Week View */
.week-view-container {
  width: 100%;
  overflow-x: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  position: relative;
  /* Add relative positioning for absolute elements */
}

.week-table {
  width: 100%;
  border-collapse: collapse;
}

.week-table th,
.week-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.week-day {
  background-color: #f5f5f5;
}

.week-day:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Current time slot line */
.current-time-slot-line {
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid red !important;
  /* Red line for the current time slot */
}
